body {
  --text-color: hsl(0 0% 90%);
  --background-color: hsl(192deg 100% 5%);
  --border-color: hsl(156deg 40% 45%);
  --link-color: hsl(156deg 80% 45%);
}

body {
  margin: 0;
  padding: 0;
  font:
    24px/1.5 "Noto Sans",
    sans-serif;
  color: var(--text-color);
  background: var(--background-color);
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--border-color);
  margin: 4ch;
  padding: 0;
}

header a {
  text-decoration: none;
  display: block;
  padding: 1ch;
  color: var(--text-color);
  font-size: 1.2em;
  font-weight: bold;
}

header a:hover {
  background-color: var(--border-color);
  color: var(--background-color);
}

header nav {
  display: flex;
  align-self: stretch;
}

header nav a {
  padding: 0.75ch;
  font-size: 0.75em;
  font-weight: normal;
}

main {
  max-width: 80ch;
  margin: 40px auto;
  padding: 0 40px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

pre {
  overflow-x: auto;
  border-radius: 16px;
  margin-left: 2ch;
  padding: 1ch 2ch;
  background-color: #444;
  color: #eee;
}

code {
  font-family: "Noto Sans Mono", monospace;
}

a {
  color: var(--link-color);
};
